:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
      120deg,
      #eb4200 30%,
      #f7a902
    );
  
    --vp-home-hero-image-background-image: linear-gradient(
      -45deg,
      #b8b8b8 50%,
      #575757 50%
    );
    --vp-home-hero-image-filter: blur(44px);
  
    --vp-c-brand-1: #fd951e;
    --vp-c-brand-2: #fd951e;
    --vp-c-brand-3: #fd951e;
  }
  